/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    chosen {
        zmk,ble-central = &ble_central;
    };

    ble_central: ble_central {
        compatible = "zmk,ble-central";
    };
};